:root {
  --main-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
}
.color-one {
  color: #2196f3;
}
.color-two {
  color: #000000;
}

.social-links {
  color: #212121;
  display: flex;
}

.social-links .link:focus {
  color: #2196f3;
}

.social-links .link:hover {
  color: #2196f3;
}

.contact-links {
  color: #757575;
}
.contact-links .links:focus {
  color: #2196f3;
}

.contact-links .links:hover {
  color: #2196f3;
}

.button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #ffffff;
}

.button:hover {
  background-color: #2196f3;
}
.pointer {
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
}
.navbar .navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--main-color, black);
}

.navbar .contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--secondary-color, gray);
}
p {
  color: var(--secondary-color, gray);
}
ul {
  list-style-type: none;
}

.background-color {
  background: #2f303a;
}
.color-three {
  color: #ffffff;
}
.footer {
  font-family: "Roboto", sans-serif;
}
.footer-address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
}

.contact-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  padding-right: 215px;
  padding-left: 215px;
}
.section-header {
  width: 1600px;
  height: 80px;
  justify-content: space-evenly;
  border: 1px solid #ececec;
  background: #ffffff;
  display: flex;
  margin: auto;
}
.section-one {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 8px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
  list-style-type: none;
}

.section-two {
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 38px;
  border-radius: 4px;
  flex-basis: auto;
}

.section-footer {
  width: 1600px;
  height: 252px;
  top: 1628px;
  flex-direction: column;
  margin: 60px 1240px 60px 215px;
}
.section-three {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
  flex-wrap: wrap;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 60px;
  margin-left: 100px;
}

.lorem-ipsum {
  display: flex;
}

.color-new {
  color: #ffffff;
  padding: 200px 425px 0px 425px;
}

.section-four {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 8px;
  margin: auto;
  list-style-type: none;
  padding-top: 94px;
  padding-bottom: 94px;
}
